@media (min-width: 1200px) {
  .container {
    width: 80%;
  }

  .menu {
    display: inline-block;
  }

  .swiper-slide {
    overflow: hidden;
  }
}

@media (max-width: 1100px) {
    .container {
        width: 80%;
    }
}

@media (max-width: 1000px) {
  .container {
    width: 80%;
  }

  .card__img_two {
    width: 100px;
  }

  .menu > span {
    display: inline-block !important;
  }

  .nav,
  .right__btn {
    display: none;
  }

  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }
  .slider__btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .team__navbar {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
  }
  .team__navbarSelectionw {
    width: 100%;
    margin-top: 20px;
  }
  .team__navbarSelection button {
    margin: 5px;
  }

  .swiper-slide {
    overflow: hidden;
  }

  .clients__cards {
    width: 80%;
    margin: 0 auto;
  }

  .clients__card {
    margin-top: 10px;
  }

  .services__container {
    display: grid !important;
    grid-template-columns: auto auto;
  }

  .services__shipping {
    border: none !important;
  }

}

@media (max-width: 410px) {
  .services__container {
    display: grid;
    grid-template-columns: auto;
  }

  .swiper-slide {
    overflow: hidden;
  }

  .menu > span {
    display: inline-block !important;
  }

  .join__form-box input {
    width: 100% !important;
    margin-top: 10px;
  }
}
